/* .footer_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    margin-bottom: 30px;
} */

.footer_container{
    position: absolute;
    bottom: -65%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
   
  }

.icon_container{
    display: flex;
    justify-content: center;
}

.footer_icons {
    color: lightgrey;
    margin: 10px;
    font-size: 30px;
    display: flex;
    cursor: pointer;
    margin-top: 20px;

}

.footer_icons:hover {
    color: #8D0D06;

}

.footer_link{
    text-decoration: none;
}


.footer_text{
    display: flex;
    justify-content: center;
    color: lightgrey;
}

