.success {
    color: lightgray;
    margin: 150px 0  150px 0;
    padding: 40px 0 60px 0;
    background-color: black;
   
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}


.success_qrcode_container{
    margin-top: 40px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}

.success_qrcode_img{
    border-radius: 10px;
}


.success_header {
    text-align: center;
    color: rgb(83, 211, 83);
    margin-bottom: 20px;
    font-size: 30px;
}

.ordered_items {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.order_total {
    color: rgb(83, 211, 83);
    text-align: center;
    font-size: 20px;
}


@media (min-width: 280px) {
    .success {
        margin: 80px 0 75px 0;
        
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
        width: 80%;
    }

    .success_header {
        font-size: 20px;
    
    }
    .order_total {
        font-size: 15px;
    }

    .success_qrcode_container{
        margin-top: 20px;
        width: 200px;
    }
}


@media (min-width: 768px) {
    .success {
     
        margin: 150px 0  150px 0;
        padding: 40px 0 60px 0;
        background-color: black;
        border-color: rgb(83, 211, 83);
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .success_header {
        font-size: 30px;
    }
    .order_total {
        font-size: 20px;
    }
    .success_qrcode_container{
        margin-top: 40px;
        width: 300px;
    }
}



