
.home_card {
  display: flex;
  justify-content: center;
  width: 40rem;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


.home_selectGroup {
  display: flex;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.home_select {
  display: flex;
  justify-content: center;
  width: 350px;
  margin-bottom: 15px;
  color: grey;
  border: 1px solid lightgray;
  padding: 0.375rem 0.75rem;
}

.homeLabel {
  width: 90px;
  margin-bottom: 15px;
}

.home_option {
  display: none;
}

.home_messageContainer{
  display: flex;
  
}

.home_message{
  color: red;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: -12px;
}

.home_submitButton_container{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (min-width: 280px) {
  .home_card{
    width: 280px;
  }


  .home_card_body{
    width: auto;
    padding: 5px;
  }

  .home_input{
    width: 270px;
  }

  .home_selectGroup {
    width: 270px;
 
  }

  .home_select {
    width: 200px;
    margin-bottom: 15px;

  }

  .homeLabel {
    width: 70px;
    margin-bottom: 15px;
  }

  .home_submitButton_container{
    justify-content: center;
  }


}

@media (min-width: 300px) {

  /* getting the card centered with margin */
  .home_card{
    margin-top: 30px;
  }

  .home_card{
    width: 300px;
    padding: 10px;
  }

}

@media (min-width: 380px) {
    
  .home_card{
    width: 375px;
    align-items: center;
  }

  .homeLabel {
    width: 80px;
  }

  
  .home_selectGroup {
    width: 300px;
    
  }
  .home_input{
    width: 300px;
  }

  .home_select {
    width: 220px;

  }




}

