
.home_bannerContainer{

  background-color: black;

}



.home_centerContainer{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgb(252, 252, 252);
  opacity: 0.3;

}

.home_text{
  color: black;
  padding: 20px;
  
}


.home_button{
  color: white;
  background-color: #000404;
  margin-top: 10px;
}







