.home_container{
  display: flex;
  justify-content: center;

}

.hello{
  color: red;
}



.home_card{
 display: flex;
 justify-content: center;
 width: 40rem;
 height: 400px;
 margin-right: auto;
 margin-left: auto;
}

.title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.home_selectGroup{
  display: flex;
  justify-content: center;

}

.home_select{
 width: 350px;
 margin-bottom: 30px;
}

.homeLabel{
  width: 90px;
  margin-bottom: 30px;
}