.nav_container {
    /* display: flex;
    justify-content: center; */
    background-color: black;
}

.nav_link {
    text-decoration: inherit;
    color: white;
    padding: 5px;
    font-size: 30px;

}

.nav_link:hover {
    color: #8D0D06;

}